@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.violet {
  background-color: hsl(263, 55%, 52%);
}

.grayish-blue {
  background-color: hsl(217, 19%, 35%);
}

.blackish-blue {
  background-color: hsl(219, 29%, 14%);
}

.white {
  background-color: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  line-height: 1.5;
}

main {
  padding: 4em 2em;
}

.testimonial-grid {
    display: grid;
    gap: 2em;
}

.testimonial--card {
  padding: 3em 2.6em;
  border-radius: 7px;
  :not(:last-child) {
    margin-bottom: 1em;
  }
  .writers--details {
    display: flex;
    align-items: center;
    gap: 1em;
    img {
      border-radius: 50%;
    }
    .name {
      color: hsl(0, 0%, 50%);
        b {
            color: hsl(0, 0%, 81%);
        }
    }
  }

  .title {
    color: hsl(0, 0%, 100%);
  }
  .testimonial--body {
    color: hsl(0, 0%, 70%);
  }
  .title--white--bg {
    color: hsl(219, 29%, 14%);
  }
  .name--white--bg {
    color: hsl(219, 29%, 70%);
    b {
        color: hsl(219, 29%, 14%);
    }
  }
}

.attribution{
    margin: 2em 0;
}

@media (min-width: 920px) {
    main {
        padding: 4em 5em;
    }
    .testimonial-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .c1-3 {
        grid-column: 1/3;
        grid-row: 1;
    }
    .c3 {
        grid-column: 3;
        grid-row: 1;
    }
    .c4 {
        grid-column: 4;
        grid-row: 1/3;
    }
    .c1 {
        grid-column: 1;
        grid-row: 2;
    }
    .c2-4 {
        grid-column: 2/4;
        grid-row: 2;
    }

}